h2.section_title {
 font-size: 2.25rem;
 font-weight: 500; 
 padding-bottom: 1rem;
 text-align: center;
 max-width: 500px; 
 margin: 0 auto 3rem auto;
 border-bottom: 1.5px solid;
}

.listings_wrapper {
 display: flex;
 justify-content: center;
 align-items: baseline;
 flex-wrap: wrap;
 max-height: 100%;
 overflow-y: scroll;
}

.listings_item {
 display: flex;
 flex-direction: column; 
 align-items: center;
 flex: 0 1 360px;
 box-shadow: 2px 3px 2px rgb(0 0 0 / 5%);
 background-color: white;
 padding-bottom: 1.25rem;
 margin: 0 1.25rem 4rem 1.25rem
}

.listings_item:hover{
  background-color:  rgb(250, 249, 246);
}
.listings_img { margin-bottom: 0.75rem; }

.lower_wrapper {
 display: flex;
 padding: 1rem;
 flex-direction: column;
 align-items: center;
}

.listings_title {
 font-weight: 500;
 font-size: 1.3rem; 
 margin-bottom: 1rem;
}

.listings_subtitle {
 color: black;
 text-align: center;
 font-weight: 400;
}

.listings_cta {
 color: #762FBE;
 font-size: 1.1rem;
 text-decoration: underline; 
}
.listings_cta:hover {
 text-decoration: none;
}