h2.section_title {
 font-size: 2.25rem;
 font-weight: 500; 
 text-align: center;
 max-width: 500px; 
 margin: 0 auto 0.5rem auto;
 border-bottom: 1.5px solid;
}
hr {
  border: 0;
  clear:both;
  display:block;
  width: 96%;               
  background-color: #F93943;
  height: 1px;
}
.listings_wrapper {
 display: flex;
 justify-content: center;
 align-items: baseline;
 flex-wrap: wrap;
 max-height: 100%;
 padding: 3rem;
}
.listings_item {
 border-radius: 12.5px;
 display: flex;
 flex-direction: column; 
 align-items: center;
 flex: 0 1 300px;
 box-shadow: 2px 3px 2px rgb(0 0 0 / 5%);
 background-color: #FFCCCD;
 margin: 0 1rem 4rem 1rem;
 min-height: 22em;
}
.listings_tags {
  color: black;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center; 
  max-width: 90%;
}
.listings_item:hover{
  background-color:  #FCD0D1;
}
.listings_img { 
    margin-bottom: 0.75rem;
    border-radius: 12.5px; 
    width: 25vw; 
    min-width:330px;
}
.lower_wrapper {
 display: flex;
 padding: 1rem;
 flex-direction: column;
 align-items: center;
}

.listings_title {
 font-weight: 500;
 font-size: 1.3rem; 
 text-align: center;
 margin-bottom: 1rem;
 color: #F93943;
 min-height: 4rem;
}

.modal_title {
 font-size: 1.3rem; 
 color: #F93943;
 padding:1px;
 margin:10px;
}

.modal_subtitle {
 color: black;
 text-align: center;
 font-weight: 400;
 padding:0.5px;
 margin:5px;
}

.listings_subtitle {
 color: black;
 text-align: center;
 font-weight: 400;
 min-height:7.5em;
}

.listings_cta {
 color: #762FBE;
 font-size: 1.1rem;
 text-decoration: underline; 
}
.listings_cta:hover {
 text-decoration: none;
}

dialog {
  position: relative;
  border-radius: 15px;
  padding: 0.8rem;
  border: none;
  background-color: #FFCCCD;
  max-width:33%;
}

dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.4);
}

.closeModal {
  border: none;
  background: transparent;
  padding: 0.4rem;
  position: absolute;
  top: 0;
  right: 0.8rem;
  cursor: pointer;
}