html {
 background-color: #F2BABB !important;
 color: #F93943 !important;
 font-family: "Poppins", sans-serif !important;
 -moz-osx-font-smoothing: grayscale !important;
 -webkit-font-smoothing: antialiased !important;
 font-weight: 500 !important;
}
body { 
  background: #F2BABB !important; 
}
img{
  border-radius: 12.5px !important;
}
.card, .btn, .dropdown-menu , #footer{
  background-color: #F2BABB !important;
  border-radius: 12.5px !important;
  box-shadow: 2px 3px 2px rgb(0 0 0 / 5%) !important;
}
.card:hover, .btn:hover, .dropdown-item:hover{
  background-color:  #FCD0D1 !important;
}
.navbar{
  color: #F93943 !important;
  background-color: #F2BABB !important;
}
.nav-link, #body-title,.navbar-brand, .btn, .dropdown-item{
  color: #F93943 !important;
}

.navbar-brand{
  font-size: 1.9rem;
  font-weight: 900;
  text-transform: uppercase;
}
.navbar-toggler{
  background-color: #F4BDBD !important;
}
.modal-body{
  background-color: #fad7e4 !important;
  color: #106946 !important;
  box-shadow: 2px 3px 2px rgb(0 0 0 / 5%) !important; 
}
.card-text{
  color:black;
}
.col{
  margin-top:1rem !important;
}
.form-control::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
            color: #F93943 !important; 
            opacity: 1; /* Firefox */
            font-style: italic !important;
}
.row{
    margin-right:0 !important;
    margin-left:0 !important;
  }

#search-query, #search-button{
  box-shadow: 2px 3px 2px rgb(0 0 0 / 5%) !important;
  background-color: #fad7e4 !important;
  border-radius: 12.5px !important;
  color: #F93943;
}
#potm{
  background-color: #fad7e4 !important;
  color: #106946 !important;
}
#card-title{
  color: #106946 !important;
}
#restaurants{
  background-color: #F8F3E7 !important;
  color: #106946 !important;
}
#swapVisibility{
  background-color: #F9F0F8 !important;
}
#bars{
  background-color: #F9F0F8 !important;
  color: #106946 !important;
}
#activities{
  background-color: #E2F3E7 !important;
  color: #106946 !important;
}
#mobile-text{
  display:none;
  visibility:hidden;
  color: #106946 !important;
}
#desktop-text{
  color: #106946 !important;
}
#map{
  border-radius: 15px !important;
}
@media only screen and (max-width: 900px) {
  #desktop-text { display: none !important; }
  #mobile-text  { display: block; visibility: visible; }
  #body-title   { display: none !important; }
}

/* Small devices (portrait tablets and large phones, 300px and up) */
@media only screen and (min-width: 300px) {  
  .card{
    width:100%;
  }
}

/* Small devices (portrait tablets and large phones, 300px and up) */
@media only screen and (min-width: 375px) {  
  .card{
    width:100%;
  }

}
/* Small devices (portrait tablets and large phones, 300px and up) */
@media only screen and (min-width: 400px) {  
  .card{
    width:100%;
  }
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .card{
    width:13rem;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .card{
    width:18rem;
    height:100%;
  }
}
