
.container {
 display: flex;
}
.listings_wrapper_left {
 display: flex;
 justify-content: center;
 align-items: baseline;
 flex-wrap: wrap; 
 width: 60%;
 padding: 2em;
}

.listings_item_right {
   display: flex;
   flex-direction: column; 
   align-items: center;
   flex: 0 1 500px;
   box-shadow: 2px 3px 2px rgb(0 0 0 / 5%);
   background-color: white;
   padding-bottom: 1.25rem;
   margin: 8rem .75rem 4rem .75rem
}