<!doctype html>
<html lang="en">
   {% include 'head.html' %}
  <body> 
    <div class="container">
      {% include 'alternative_nav.html' %}
        <div class="card">
          <div class="card-body">
            <h4 class="card-title"><i><b>About</b></i></h4>
            <p class="card-text">This guide was developed by <a href="https://www.instagram.com/smileyrileys"><u>Riley Stevenson</u></a>, a native Portlander and marketer.</p>
            <p class="card-text">Riley’s Recs is intended to be a one-stop-shopping experience for family and friends who text us “Coming to Portland…what should we do?” and whomever else stumbles upon this page. There’s a little bit of quintessential Portland (Screen Door, Salt and Straw, Powell’s, etc.) alongside more local favorites (The Slammer, Laurelhurst Theater, etc.).</p>
            <p class="card-text">If you’re looking for additional recommendations, Portland Monthly’s Top 50 Restaurants is another great resource. Wouldn’t be a bad idea to pick up a copy of the magazine at New Seasons or Powell’s,  either.</p>
            <p class="card-text">Happy eating, drinking, and exploring.</p>
            <p class="card-text">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;xoxo</p>
            <p class="card-text">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Riley</p>
            <p class="card-text">P.S. If you liked any of these suggestions or guides, consider contributing $5 to Riley’s Recs and help fund ongoing research :) Venmo: @Riley-Stevenson</p>
          </div>
        </div>
        <br>
        <div class="card">
          <div class="card-body">
            <h4 class="card-title"><i><b>Things To Keep In Mind</b></i></h4>
            <ul>
              <li>Pop-ups are all the rage right now. I recommend following restaurants like Dame, Cafe Olli, Duality Brewing, and Bar Norman on Instagram to see what sort of pop-ups are headed their way while you’re in town.</li>
              <li>The bus takes forever and so does the Max. If you want to get anywhere in under 30 minutes, expect to walk, rent a NikeTown ebike, or Lyft. Keep that in mind when choosing where to stay.
              </li>
              <li>Eastside > Westside</li>
              <li>There’s no sales tax in Oregon so maybe consider doing a little shopping while you’re here.</li>
              <li>We have a lot of fun food weeks where participating restaurants basically offer a one-time version of the designated dish and sell it for cheap. Check out Portland Mercury to see if pizza, burger, nacho, or wing week is happening while you’re here.</li>
              <li>We have the best airport in the world. Partially because there’s a “rule” that if you have a location outside of the airport you have to charge the same prices as in the airport. So there are plenty of places to grab breakfast/lunch before you take off that are actually good and not expensive. </li>
              <li>If you’re looking for somewhere to stay, I recommend the Sentinel, McMenamins Kennedy School, JupiterNext, or Hotel Grand Stark.</li>
            </ul>
          </div>
        </div>
      </div>
  </body>
</html>