<!doctype html>
<html lang="en">
   {% include 'head.html' %}
  <body> 
    <div class="container">
      {% include 'nav.html' %}
        <div class="card" id="restaurants" style="width:100%">
          <div class="card-body">
            <h4 class="card-title"><i><b>About</b></i></h4>
            <p>“Some friends are visiting Portland in a few weeks…do you have any recommendations for them?”</p>
            <p>Sure do.</p>
            <p>Welcome to Riley’s Recs! My Google-doc-turned-website made for visitors and locals alike.</p>
            <p>
            A little bit about me: I grew up in NE Portland, my first job out of college was at the Waffle Window, and a few years ago I wrote a <a href="https://www.amazon.com/Littlest-Spoon-Riley-Stevenson/dp/1085801675">children’s book</a> about a little spoon finding its way in life.</p>
            <p>Growing up in the 90s, my first exposure to Portland restaurants was through places like Elmer’s, Almafi’s, and Pastini’s (Italian sodas were pure luxury at age 10). It wasn’t until I sat next to the food editor at <a href="https://www.pdxmonthly.com">Portland Monthly</a> during my college internship that I really started falling in love with Portland’s food scene in a whole new way. </p>
            <p>Trying new restaurants and bars opened my eyes to all of the cool stuff that’s happening in our city, and I hope these recommendations help you see that side of our city, too. Because that’s the point: I want everyone to love Portland as much as I do.</p>
            <p>Looking for more? You can find weekly long-form restaurant reviews, recipe recommendations and more on my Substack.
            </p>
            <p>Happy eating, drinking, and exploring.</p>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;xoxo</p>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Riley</p>
          </div>
        </div>
        <br>
        <div class="card" id="bars" style="width:100%">
          <div class="card-body">
            <h4 class="card-title"><i><b>Recommendations</b></i></h4>
            <p>If you’re not from Portland, here are few things to keep in mind for your visit:</p>
            <ul>
              <li>Pop-up restaurants are popular right now. I recommend following restaurants like Dame, Cafe Olli, Duality Brewing, and Bar Norman on Instagram to see what sort of pop-ups are headed their way while you’re in town.</li>
              <li>The bus takes forever and so does the Max. If you want to get anywhere in under 30 minutes, expect to walk, rent a NikeTown ebike, or Lyft. Keep that in mind when choosing where to stay. 
              </li>
              <li>Portland is divided by a river. The Eastside is just objectively better for food and bar hopping. That’s not to say it’s not worth going downtown or to Forest Park, but expect to spend most of your time on the Eastside. But again, I’m a little biased because I’ve spent  my entire life on the Eastside.</li>
              <li>There’s no sales tax in Oregon so maybe consider doing a little shopping while you’re here. Plus, here are a few fun Portland things you might want to take home with you:</li>
              <ul>
                <li>Local cookbooks: <a href="https://www.powells.com/book/six-seasons-9781579656317">Six Seasons</a>,<a href="https://www.powells.com/book/flour-water-salt-yeast-9781607742739"> Flour Water Salt Yeast</a>, <a href="https://www.powells.com/book/salt-and-straw-ice-cream-cookbook-9781524760151">Salt and Straw Ice Cream Cookbook</a>, <a href="https://www.powells.com/book/toro-bravo-9781938073571">Toro Bravo</a>, <a href = "https://www.powells.com/book/the-grand-central-baking-book-9781580089531">Grand Central Baking Book</a>, and <a href="https://www.powells.com/book/everyones-table-9780062984517">Everyone’s Table.</a> </li>
                <li>Jacobsen’s sea salts and caramels, Woodblock Chocolate, Olympia Provisions cured sausage, Smith Tea, etc. All of which can be found at either Providore Fine Foods or New Seasons.</li>
                <li>Booze: <a href="https://www.kachkaspirits.com/">Kachka horseradish vodka</a>,<a href="https://newdealdistillery.com/>"> New Deal Distillery</a>, pinot noir (<a href="https://www.greatwinebuys.com/">Great Wine Buys</a> or <a href="https://www.divisionwines.com/">Division Wines</a> are great places to go in town!). </li>
              </ul>
              <li>We have a lot of fun food weeks where participating restaurants basically offer a one-time version of the designated dish and sell it for cheap. Check out <a href="https://www.portlandmercury.com/">Portland Mercury</a> to see if pizza, burger, nacho, or wing week is happening while you’re here.</li>
              <li>We have the best airport in the world. Partially because there’s a “rule” that if you have a location outside of the airport you have to charge the same prices as in the airport. So there are plenty of places to grab breakfast/lunch before you take off that are actually good and not expensive. </li>
              <li>If you’re looking for somewhere to stay, I recommend the Sentinel, McMenamins Kennedy School, JupiterNext, Kex (home to my favorite bar, Pacific Standard!) or Hotel Grand Stark.</li>

            </ul>
          </div>
        </div>
      </div>
  </body>
</html>