<!doctype html>
<html lang="en">
   {% include 'head.html' %}
  <body> 
    <div class="container">
    {% include 'main_nav.html' %}
    {% include 'categories.html' %}
    {% include 'body.html' %}
    </div>
  </body>
</html>
<style type="text/css">
</style>
<script>
  function setTitle(name){
    if (name=="search"){
      search_term = document.forms["search"]["search_term"].value
      const firstLetterCap = search_term.charAt(0).toUpperCase()
      const remainingLetters = search_term.substring(1)
      const prettySearchTerm = firstLetterCap + remainingLetters
      document.getElementById("body-title").innerHTML = "<i>"+prettySearchTerm+" Recs</i>"
    }
    else{
     document.getElementById("body-title").innerHTML = "<i>The "+name+"</i>"
    }

  }
</script>