
<div class="row rows-cols-auto" id="recommendation-grid">
 {% for r in recommendations %} 
 <div class="col">
    <!-- Card -->
    <button class="card" data-bs-toggle="modal" data-bs-target="#{{r.id}}" hx-target="#{{r.id}}" hx-get="/recommendation/{{r.id}}">
      <div class="card-body">
        <h5 class="card-title">{{r.fields.Name}}</h5>
        <p class="card-text" id="desktop-text">        
          {% if r.fields.Description|length < 150 %}
          {{ r.fields.Description }}
          {% else %}
          {{ r.fields.Description|truncate(150, False, '...')}}
          {% endif %}
        </p>
        <p class="card-text" id="mobile-text">        
          {% if r.fields.Description|length < 35 %}
          {{ r.fields.Description }}
          {% else %}
          {{ r.fields.Description|truncate(35, False, '...')}}
          {% endif %}
        </p>
        <hr/>
        {% if 'Tags' in r.fields %}
        <p>
          <i>{% for t in r.fields.Tags %}
              {{t.lower() | trim}}&nbsp
            {% endfor %}
          </i>
        </p>
        {% endif %}
      </div>
    </button>
    <!-- Modal -->
    <div class="modal fade" id="{{r.id}}" tabindex="-1" aria-hidden="true">
      {% include 'modal.html' %}
    </div>
  </div>
 {% endfor %}
</div>
<style>

#mobile-text{
  display:none;
  visibility:hidden;
}
@media only screen and (max-width: 900px) {
  .card{
    width:10rem;
  }
  #desktop-text { display: none !important; }
  #mobile-text  { display: block; visibility: visible; }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {  
  .card{
    width:10rem;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .card{
    width:10rem;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .card{
    width:16rem;
    height:100%;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .card{
    width:16rem;
    height:100%;
  }
} 
</style>
