



<h2 class="section_title"><i><b>The List</b></i></h2>

{% include 'categories.html' %}
<div class="listings_wrapper">

 {% for r in recommendations %} 
 <div class="listings_item">  
    <a class="openModal" id="{{r.id}}">    
      <div class="lower_wrapper">
      <p class="listings_title">{{r.fields.Name}}</p>
      <p class="listings_subtitle">
        {% if r.fields.Description|length < 175 %}
        {{ r.fields.Description }}
        {% else %}
        {{ r.fields.Description|truncate(175, False, '...')}}
        {% endif %}
      </p> 
      <hr />
      {% if 'Tags' in r.fields %}
      <p class="listings_tags">
        <i>{% for t in r.fields.Tags %}
          &#x2022;&nbsp{{t.lower()}}
          {% endfor %}
          &#x2022;
        </i>
      </p>
      {% endif %}
    </div></a>
    <dialog id="{{'modal-'+r.id}}">
      <div class="listings_wrapper">
          <button class="closeModal" id="{{'close-'+r.id}}">X</button>
          {% if 'Pictures' in r.fields %}
          <figure>
            <img
              cross-origin="use-credentials"
              class="listings_img" 
              src="{{ r.fields.Pictures[0].url }}"
            />
            <figcaption><i>PC: {{r.fields.Photo_Credit}}</i></figcaption>
          </figure>
          {% endif %}
          <div class="lower_wrapper">
            <h3 class="modal_title">{{r.fields.Name}}</h3>
            {% if 'Neighborhood' in r.fields%}
            <p class="modal_subtitle">{{r.fields.Neighborhood[0] | trim}}</p>
            {% endif %}
            <p class="modal_subtitle">{{r.fields.Description | trim}}</p>
            {% if 'Address' in r.fields %}
            <p class="modal_subtitle">{{r.fields.Address | trim}}{% if 'Cities' in r.fields%}{{', '+r.fields.Cities[0] | trim}}{% endif %}</p>
            {% endif %}
          </div>
      </div>
    </dialog>

 </div>
 {% endfor %}
</div>
<script>
  var modal;
  var buttons = document.querySelectorAll('.openModal');

  buttons.forEach((button) => {
    button.addEventListener('click', (event) => {
      event.preventDefault();
      modal = document.getElementById('modal-'+button.id);
      modal.showModal();
    });
  });

  var closeButtons = document.querySelectorAll('.closeModal');

  closeButtons.forEach((button) => {
    button.addEventListener('click', (event) => {
      event.preventDefault();
      modal = document.getElementById(button.id.replace('close-','modal-'));
      modal.close();
    })
  })

  var modals = document.querySelectorAll('dialog');
  modals.forEach((modal) => {
    modal.addEventListener("click", event => {
      var modalDimensions = modal.getBoundingClientRect();
      if (
        event.clientX < modalDimensions.left ||
        event.clientX > modalDimensions.right ||
        event.clientY < modalDimensions.top ||
        event.clientY > modalDimensions.bottom
      ) {
        modal.close();
         }
    })
  })

</script>

