<div class="text-center">
  <h2 id="body-title"><b>The List</b></h2>
  <a class="btn btn-sm" id="potm" role="button" hx-target="#recommendation-grid" hx-swap="outerHTML" hx-get="/category/all" hx-on::after-request="setTitle('List')">Everything</a>
  {% for c in categories %}
    <a class="btn btn-sm" id="{{c.fields.Name.lower()}}"role="button" hx-target="#recommendation-grid" hx-swap="outerHTML" hx-get="/category/{{c.fields.Name}}" hx-on::after-request="setTitle('{{c.fields.Name}}')">{{c.fields.Name}}</a>
  {% endfor %}
  <!--a class="btn btn-sm float-end" id="swapVisibility" role="button" onclick="swapVisible()">Map</a-->
</div>

