<div class="text-center">
  {% if (currentCategory == "List") or (currentCategory == 'Bars') or (currentCategory == 'Activities') or (currentCategory == 'Restaurants') %}
  <h2 id="body-title"><b>The {{ currentCategory }}</b></h2>
  {% else %}
    <h2 id="body-title"><b>{{ searchTerm|title }} Recs</b></h2>
  {% endif %}
  <a class="btn btn-sm" id="potm" role="button" hx-target="#content-grid" hx-swap="outerHTML" hx-get="/category/List">Everything</a>
  {% for c in categories %}
    <a class="btn btn-sm" id="{{c.fields.Name.lower()}}"role="button" hx-target="#content-grid" hx-swap="outerHTML" hx-get="/category/{{c.fields.Name}}" >{{c.fields.Name}}</a>
  {% endfor %}
  {% if (currentCategory == 'List') and (currentView == "map") %}
  <a class="btn btn-sm float-end" id="swapVisibility" hx-target="#content-grid" hx-swap="outerHTML" hx-get="swapContext/{{ currentCategory }}" role="button">List</a>
  {% elif (currentCategory == 'List') and (currentView == "list") %}
  <a class="btn btn-sm float-end" id="swapVisibility" hx-target="#content-grid" hx-swap="outerHTML" hx-get="swapContext/{{ currentCategory }}" role="button">Map</a>
  {% elif (currentCategory == 'Bars') and (currentView == "map") %}
  <a class="btn btn-sm float-end" id="swapVisibility" hx-target="#content-grid" hx-swap="outerHTML" hx-get="swapContext/{{ currentCategory }}" role="button">List</a>
  {% elif (currentCategory == 'Bars') and (currentView == "list") %}
  <a class="btn btn-sm float-end" id="swapVisibility" hx-target="#content-grid" hx-swap="outerHTML" hx-get="swapContext/{{ currentCategory }}" role="button">Map</a>
  {% elif (currentCategory == 'Activities') and (currentView == "map") %}
  <a class="btn btn-sm float-end" id="swapVisibility" hx-target="#content-grid" hx-swap="outerHTML" hx-get="swapContext/{{ currentCategory }}" role="button">List</a>
  {% elif (currentCategory == 'Activities') and (currentView == "list") %}
  <a class="btn btn-sm float-end" id="swapVisibility" hx-target="#content-grid" hx-swap="outerHTML" hx-get="swapContext/{{ currentCategory }}" role="button">Map</a>
  {% elif (currentCategory == 'Restaurants') and (currentView == "map") %}
  <a class="btn btn-sm float-end" id="swapVisibility" hx-target="#content-grid" hx-swap="outerHTML" hx-get="swapContext/{{ currentCategory }}" role="button">List</a>
  {% elif (currentCategory == 'Restaurants') and (currentView == "list") %}
  <a class="btn btn-sm float-end" id="swapVisibility" hx-target="#content-grid" hx-swap="outerHTML" hx-get="swapContext/{{ currentCategory }}" role="button">Map</a>
  {% elif (currentView == "list") %}
  <a class="btn btn-sm float-end" id="swapVisibility" hx-target="#content-grid" hx-swap="outerHTML" hx-get="swapContext/{{ currentCategory }}" role="button">Map</a>
  {% elif (currentView == "map") %}
  <a class="btn btn-sm float-end" id="swapVisibility" hx-target="#content-grid" hx-swap="outerHTML" hx-get="swapContext/{{ currentCategory }}" role="button">List</a>
  {% endif %}

</div>