<div class="text-center">
  <h2 id="body-title"><b>The List</b></h2>
  <a class="btn btn-sm" id="potm" role="button" hx-target="#recommendation-grid" hx-swap="outerHTML" hx-get="/category/all" hx-on::after-request="setTitle('List')">Everything</a>
  {% for c in categories %}
    <a class="btn btn-sm" id="{{c.fields.Name.lower()}}"role="button" hx-target="#recommendation-grid" hx-swap="outerHTML" hx-get="/category/{{c.fields.Name}}" hx-on::after-request="setTitle('{{c.fields.Name}}')">{{c.fields.Name}}</a>
  {% endfor %}
  <!--a class="btn btn-sm float-end" id="swapVisibility" role="button" onclick="swapVisible()">Map</a-->
</div>
<script>
  function setVisible(){
    var list = document.getElementById('recommendation-grid');
    var map = document.getElementById('map-container');
    var button = document.getElementById('swapVisibility'); 

    console.log(document.cookie)
    console.log(cname)
    console.log(cvalue)
    list.style.visibility = 'visible';
    map.style.visibility = 'collapse';
    button.textContent = 'Map'  
  }

  function swapVisible() {
    var list = document.getElementById('recommendation-grid');
    var map = document.getElementById('map-container');
    var button = document.getElementById('swapVisibility');
    if(list.style.visibility=='collapse'){
      list.style.visibility = 'visible';
      map.style.visibility = 'collapse';
      button.textContent = 'Map';
      document.cookie = "currentlyVisible=list"; 
    }
    else{
      getUserLocation()
      list.style.visibility = 'collapse';
      map.style.visibility = 'visible';
      button.textContent = 'List';
      document.cookie = "currentlyVisible=map"; 
    }
  }

  function setTitle(name){
    if (name=="search"){
      search_term = document.forms["search"]["search_term"].value
      const firstLetterCap = search_term.charAt(0).toUpperCase()
      const remainingLetters = search_term.substring(1)
      const prettySearchTerm = firstLetterCap + remainingLetters
      document.getElementById("body-title").innerHTML = "<b>"+prettySearchTerm + " Recs</b>"
    }
    else{
     document.getElementById("body-title").innerHTML = "<b>The " + name + "</b>"
    }
    setVisible()

  }
</script>


