<head>
   <meta charset="utf-8" />
   <meta http-equiv="X-UA-Compatible" content="IE=edge" />
   <meta name="viewport" content="width=device-width, initial-scale=1" />
   <meta name="description" content="Riley's Recs - The Very Best of Portland" />
   <meta name="author" content="Riley Stevenson and Alex Cook" />
   <title>Riley's Recs - The Very Best of Portland</title> 
   <link rel="icon" type="image/x-icon" href="/static/img/favicon.png">
  {% assets "main_styles" %}
  <link href="{{ ASSET_URL }}" rel="stylesheet">
  {% endassets %}
  <script src="https://unpkg.com/htmx.org@1.9.5" integrity="sha384-xcuj3WpfgjlKF+FXhSQFQ0ZNr39ln+hwjN3npfM9VBnUskLolQAcN80McRIVOPuO" crossorigin="anonymous"></script>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
