<div id='content-grid' >
{% include 'categories.html' %}
  <br>
  <div id='map' style='visible:hidden; width:100%; height:75vh; margin:0;'></div>
</div>
<script>
    var recommendations = {{recommendations | tojson | safe }}
    mapboxgl.accessToken = 'pk.eyJ1IjoiYWJjb29rIiwiYSI6ImNqcnp5N3N2ZzFkeWs0NG80bnVtNmFxaDEifQ.zPkUuVuuVNGg-3DkQcBflQ';

    var map = new mapboxgl.Map({
        container: 'map',
        style: 'mapbox://styles/mapbox/streets-v12',
        center: [-122.6355, 45.535],
        zoom: 11,
        interactive: true

    });

    map.on('load', () => {
        const mapContainerEl = document.getElementById('map');
        mapContainerEl.style.visibility = 'visible';
        map.addControl(new mapboxgl.NavigationControl());
    }); 

    var markers = []

    var mapboxClient = mapboxSdk({ accessToken: mapboxgl.accessToken });
    recommendations.forEach(recommendation => {
      var markerColor = '#e87166'
      if (recommendation.fields.Categories[0] == "Restaurants"){
        markerColor = '#fce6ae'
      }
      if (recommendation.fields.Categories[0] == "Bars"){
        markerColor = '#ffe0fb'
      }
      if (recommendation.fields.Categories[0] == "Activities"){
        markerColor = '#d5f5de'
      }
      var popupHTML = "<h6><b>Name:</b> "+recommendation.fields.Name+"</h6><br><h6><b>Address:</b> "+recommendation.fields.Address

      if(!isNaN(recommendation.fields.lng)){
        var coords = [recommendation.fields.lng, recommendation.fields.lat]
          var marker = new mapboxgl.Marker({ "color": markerColor })
            .setLngLat(coords)
            .setPopup(new mapboxgl.Popup({"closeButton":false}).setHTML( popupHTML))
            .addTo(map);

        var markerDiv = marker.getElement();
 
        markerDiv.addEventListener('mouseenter', () => marker.togglePopup());
        markerDiv.addEventListener('mouseleave', () => marker.togglePopup());
      }
    });
    function getUserLocation(){
         const successCallback = (position) => {
             var markerColor = 'red'
             var popupHTML = "<h6>Your Location!</h6>"

             var coords = [position.coords.longitude, position.coords.latitude]
             var marker = new mapboxgl.Marker({ "color": markerColor })
                 .setLngLat(coords)
                 .setPopup(new mapboxgl.Popup({"closeButton":false}).setHTML( popupHTML))
                 .addTo(map);

             var markerDiv = marker.getElement();

             markerDiv.addEventListener('mouseenter', () => marker.togglePopup());
             markerDiv.addEventListener('mouseleave', () => marker.togglePopup());
         };

         const errorCallback = (error) => {
             console.log(error);
         };
         navigator.geolocation.getCurrentPosition(successCallback,errorCallback); 
     }
    getUserLocation(0)
    function togglePopup(marker) {
        marker.togglePopup()
    }

    </script>
    <style>
    .mapboxgl-popup-content{
        font: 7px sans-serif;
        padding: 7.5px;
        width: 275px;
    }
    .mapbox-popup-content-wrapper {
        padding: 5%;
    }
    @media only screen and (max-width: 600px) {
    .table-hover {
        font-size: 7px sans-serif;
    }
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    </style>
