<nav role="navigation">
  <div class="nav_wrapper">
    <div class="logo_wrapper">   
      <h1 class="nav_title"><i>Riley's Recs</i></h1>
    </div>
  <div class="contact_wrapper">
    <ul class="link_list">
      <li>
      <h3 class="nav_link"><a hx-get="/" hx-target="body"><i>HOME</i></a></h3></li>
      <h3>&nbsp&nbsp●&nbsp&nbsp</h3>
      <li>
      <h3 class="nav_link"><a hx-get="/" hx-target="body"><i>ITINERARIES</i></a></h3></li>
      <h3>&nbsp&nbsp●&nbsp&nbsp</h3>
      <li>
      <h3 class="nav_link"><a hx-get="/about/" hx-target="body"><i>ABOUT</i></a></h3></li>
    </ul>
 </div>
</nav>